SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/your-key
PRIVATE_KEY=your-private-key
ETHERSCAN_API_KEY=your-etherscan-key


# SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/0c5a8ff908fa4903a308e5579d80a388
# PRIVATE_KEY=224e35296d2fb00af7a0dfa96b695cfbc378f36b1951a8f308ced3fc3b6353e8
# ETHERSCAN_API_KEY=12ZXPP27BB9192MTG5IPDDDNYP3SE4CX17

